{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "importOrder": [
    "^(node:)",
    "^(@nestjs/)",
    "^(react|react-native|expo)",
    "<THIRD_PARTY_MODULES>",
    "^@haccp/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
